%div.pushrr-header.clearfix

  %div.pushrr-rwd
  %div.pushrr-logo
  %a.new-notification{"title" => "New notification", "href" => "/new-notification"}
    %span.icon-plus
    New notification
  %ul#top-nav.pull-right
    %li
      %a
        Support
        %span.fa.fa-question-circle.support