%div.push-sidebar.pull-left
  %div.user-area.text-center
    %div.user-avatar
      =image_tag("emily.png", height: '85', width: '85')
      %div.user-name
        Emily Wallace
    %div.user-links
      %a(title='Your account' href='/user-account')
        Your account
      &bull;
      %a(title='Logout' href='#')
        Logout
  %div.website-area
    %div.website
      %span.website-icon.pull-left
      %span#website-name.website-name
        mobelio.com
    %div.website-actions
      %a(title='More Options' href='#')
        %span.fa.fa-caret-down
        More websites
  %div.sidebar-menu
    %ul
      %li
        %a{"title" => "Dashboard", "href" => '/'}
          %span.push-icon.icon-dashboard
          Dashboard
      %li
        %a{"title" => "Notifications", "href" => '/notifications'}
          %span.push-icon.icon-notifications
          Notification
      %li
        %a{"title" => "Subscribers", "href" => '/subscribers'}
          %span.push-icon.icon-subscribers
          Subscribers
      %li
        %a{"title" => "Subscriber Groups", "href" => '/subscribers-groups'}
          %span.push-icon.icon-sub-groups
          Subscriber Groups
      %li
        %a{"title" => "Settings", "href" => '/website-settings'}
          %span.push-icon.icon-settings
          Settings
  %div.sidebar-more
    %a(title='New website' href='#')
      %span.pull-left.plus
        %span.fa.fa-plus
      Add a new website