%div#login-wrapper

  %div.vertical-center

    %div.container.login-box.text-center
      =image_tag("pushrr-logo.png", width: '200')
      %h1
        Create your free account
      %p.subtext
        Tell us a few things about you

      %div.pale-black.margin-top-50
        %div.input-el
          %input.form-control{"type" => "text", "placeholder" => "Username"}
        %div.input-el
          %input.form-control{"type" => "email", "placeholder" => "E-mail address"}
        %div.input-el
          %input.form-control{"type" => "password", "placeholder" => "password"}

        %button.login-btn{"type" => "submit", "title" => "Create account"}
          Create account

      %div.register.margin-top-30
        %a.small.white{"href" => "login", "title" => "Go back"}
          I already have an account