%div.pushrr-header.user-header.clearfix

  %div.pushrr-logo
    %a{"href" => "/"}
      =image_tag("pushrr-logo.png", width: '120', class: "margin-right-5 margin-left-5 pull-left")

  /* Adding the breadcrumb here, always on top of H1 */
  %div.bread
    %span.item
      %span.bullet.icon-bread-arrow
      %a{"href" => "/", "title" => "Back to Dashboard"} Dashboard
    %span.item
      %span.bullet.icon-bread-arrow
      Emily's Account


  %ul#top-nav.pull-right
    %li
      %a
        Support
        %span.fa.fa-question-circle.support