%div.user-sidebar.pull-right
  %a.back-dash.icon-close{"title" => "Back to dashboard", "href" => "/"}
  %div.text-center.margin-top-30
    %div.user-avatar
      =image_tag("emily.png", width: '140')
      %div.user-name
        Emily Wallace
    %div.user-links
      %a.active{"title" => "Your account", "href" => "/user-account"}
        Your account
      &bull;
      %a(title='Logout' href='#')
        Logout

  %div.margin-top-50.text-center
    %a.outline-button{"href" => "#"}
      Update your avatar

  %div.short-stats.margin-top-30
    %div.stat
      %span.data
        %span.light
          Subscribers on
          %span.bold
            4
          Sites
        %span.bold
          48

    %div.stat
      %span.data
        %span.light
          Total pushes sent
        %span.bold
          841

    %div.stat
      %span.data
        %span.light
          Total opt-in rate
        %span.bold
          62%