%div.pushrr-header.user-header.clearfix

  %div.pushrr-rwd.pull-left
    %a{"href" => "/", "title" => "Back to dashboard"}
      %span.fa.fa-caret-left
      %span.icon-dashboard
  %div.pushrr-logo
    %a{"href" => "/"}
      =image_tag("test-logo.png", width: '90', class: "margin-right-5 margin-left-5 pull-left")


  %ul#top-nav.pull-right
    %li
      %a
        Support
        %span.fa.fa-question-circle.support