%div.pushrr-header.clearfix

  %div.pushrr-logo
    =image_tag("test-logo.png", width: '90', class: "margin-right-5 margin-left-5 pull-left")

  %ul#top-nav.pull-right
    %li
      %a.outline-button.square{"href" => "#", "title" => "Sign out"}
        Sign out