/* Font sizes */
$push-small: 11px;
$push-text: 14px;
$push-subtext: 16px;

/* Colors */
$push-blue: #4A90E2;
$push-dark-blue: #334C6A;
$push-orange: #F5A623;
$grey: #999;
.grey {
  color: $grey;
}
/* Shadows */
$push-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.10);

/* Corners */
$standard: 4px;

.sidebar-link-action {
  border-radius: 0 4px 4px 0;
  background: $push-blue;
  box-shadow: $push-shadow;
  color: white;
  text-decoration: none;
}

/* Weights */
.light {
  font-weight: 300;
}
.bold {
  font-weight: 700;
}

/* General classes */
.pushrr-container {
  box-shadow: $push-shadow;
  -webkit-border-radius: $standard;
  -moz-border-radius: $standard;
  border-radius: $standard;
  background: white;
  border: 0;
}
/* Buttons */
.default-button {
  box-shadow: $push-shadow;
  border-radius: $standard;
  background: $grey;
  line-height: 1;
  padding: 9px 15px;
  color: white;
  display: inline-block;
  vertical-align: middle;
  &:hover, &:active {
    background: #333;
    color: white;
    text-decoration: none;
  }
}
.outline-button {
  border-radius: 50px;
  border: 1px solid white;
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding: 10px 20px;
  line-height: 1;
  &.square {
    border-radius: $standard;
  }
  &:hover {
    color: white;
    background: rgba(255, 255, 255, .1);
    text-decoration: none;
  }
}
  /* Exception */
  .pushrr-header .outline-button {
    padding: 7px 20px;
  }
/* This should remove all the ugly bootstrap borders & stuff */
.custom-input-group {
  @extend .pushrr-container;
  border: 0;
  * {
    border: 0 !important;
    box-shadow: none !important;
  }
  .form-control {
    height: 36px;
    padding: 7px 12px;
  }
  .btn {
    padding: 8px 12px;
  }
  .right-border {
    border-right: 2px solid #ddd !important;
    color: #999;
    padding-left: 17px;
    padding-right: 17px;
  }
  a.previous {
    border-right: 2px solid #ddd !important;
  }
  a.next {
    border-left: 1px solid #ddd !important;
  }
  .fa {
    margin: 0 8px;
  }
  .current-value {
    font-weight: 700;
    color: #333
  }
  .dropdown-toggle {
    color: #999;
  }
}

.hidden {
  display: none;
}

/* Margins */
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.minus-margin-15 {
  margin-top: -15px;
}
.minus-margin-20 {
  margin-top: -20px;
}
.minus-margin-30 {
  margin-top: -30px;
}