@import "constants";
@import "switches";
body {
  font-family: 'Lato', sans-serif !important;
  font-size: $push-text;
  margin: 58px 0 0;
  padding: 0;
  background: #F5F7F9;
 }



.pushrr-header {
  background-color: $push-blue;
  background-image: image-url('header-oval.png');
  background-position: 50px bottom;
  background-repeat: no-repeat;
  box-shadow: $push-shadow;
  color: white;
  line-height: 1;
  padding: 11px 15px 13px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 9800;
  height: 58px;
  a {
    color: white;
    .support {
      font-size: 18px;
      vertical-align: middle;
      margin-left: 5px;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 10px 10px 5px;
  }
  .orange-btn {
    position: absolute;
    left: 200px;
    top: 11px;
  }
}

/* The menu toggle */
.pushrr-rwd {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 11px 9px 0 0;
  a {
    text-decoration: none;
    line-height: 1;
    &:hover {
      opacity: .8;
      text-decoration: none;
    }
  }
  .icon-hamburger {
    font-size: 17px;
  }
  .icon-dashboard {
    font-size: 27px;
  }
  .fa {
    position: relative;
    top: -3px;
  }
}

/* This is what's going on in the sidebar */
.push-sidebar {
  background: $push-dark-blue;
  background-image: image-url("dat-blur.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 200px;
  position: relative;
  z-index: 900;

  a {
    &:hover {
      color: white
    }
  }

  .sidebar-more {
    padding: 10px 20px;
    a {
      color: white;
      line-height: 26px;
      &:hover {
        text-decoration: none;
        .plus {
          background: $push-blue;
        }
      }
    }
  }

  /* Website block */
  .website-area {
    border-left: 5px solid #152537;
    padding: 18px 10px 18px 6px;
    color: white;

    .website-icon {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      vertical-align: middle;
      display: block;
      border-radius: 50%;
      background: #000;
    }
    .website-actions {
      font-size: $push-small;
      color: white;
      font-weight: 300;
      span {
        margin-right: 5px;
      }
      a {
        color: white;
      }
    }
  }
}
.plus {
  background: #122336;
  text-align: center;
  width: 27px;
  height: 27px;
  color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.17);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 27px;
  font-size: 15px;
  margin-right: 10px;
  display: inline-block;
}
/* User block */
.user-area {
  padding: 30px 0;
}
.user-name {
  font-weight: 700;
  color: white;
  padding-top: 10px;
}
.user-links {
  font-size: $push-small;
  color: white;
  a {
    margin: 0 5px;
    font-size: $push-small;
    color: white;
    font-weight: 300;
  }
}

.push-content {
  margin-left: 200px;
  float: none;
  padding: 15px 55px;
}
.sidebar-menu {
  padding: 15px 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 210px;
  }
  li {
    &.on-page a {
      @extend .sidebar-link-action;
    }
  }
  a {
    color: white;
    display: block;
    padding: 13px 0 13px 20px;
    font-size: $push-text;
    text-decoration: none;
    line-height: 1;
    &:hover, &.on-page {
      @extend .sidebar-link-action
    }
  }
  .push-icon {
    font-size: 26px;
    color: white;
    vertical-align: middle;
    margin-right: 10px;
  }
}

/* Let's customize the dropdowns */
.pushrr-dropdown {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* The table */
.pushrr-table {
  box-shadow: $push-shadow;
  background: white;
  border-radius: $standard;
  overflow: hidden;
  td, th {
    padding: 13px 15px;
    .custom-label {
      position: relative;
      top: 3px;
    }
  }
  td.check {
    border-right: 1px solid #eee;
  }
  th {
    background: #323232;
    font-weight: 700;
    color: white;
    white-space: nowrap;

    .fa {
      margin-left: 5px;
      font-size: 16px;
      vertical-align: middle;
      cursor: pointer;
    }
  }
  // Here we define the text color based on the column importance
  .importance_1 {
    color: #999
  }
  .importance_3 {
    font-size: 24px;
  }
}

/* 100% heights */
html, body, #pushrr-wrapper, .push-sidebar {
  height: 100%;
}

/* Headers */
h1 {
  font-weight: 700;
  font-size: 42px;
}
h2 {
  font-size: 32px;
  font-weight: 300;
}
h3 {
  padding: 0;
  margin: -5px 0 0;
  font-size: $push-subtext;
  color: $grey;
  font-weight: 300;
}
h4 {
  font-size: $push-subtext;
  font-weight: 700;
  color: #333;
  line-height: 1.4;
}
/* The responsive table */
@media only screen and (max-width: 800px) {

  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr { border: 1px solid #ccc; }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }

  /*
  Label the data
  */
  #no-more-tables td:before { content: attr(data-title); }
}

.wider-click-area {
  border: 6px solid transparent;
  color: $grey;
  &:hover {
    text-decoration: none;
  }
}

/* Let's now customize the nav pills */
.pushrr-pills {
  display: block;
  overflow: hidden;
    &:after {
      clear: none;
    }
    > li {
      > a {
      border-radius: 50px;
      font-size: 18px;
      min-width: 90px;
      text-align: center;
      padding: 5px 30px;
      color: #333;
      font-weight: 400;
      background: white;
      margin-right: 10px;
        .smaller-pills & {
          font-size: $push-text;
        }
    }

    &.active {
      a {
        color: white;
      }
    }
  }
}
.table-search-input {
  width: 250px;
}

/* Styling the pagination */
.pagination {
  a {
    color: #333;
  }
}
.pagination {
  > li {
    > a {
      color: #333;
      padding: 8px 12px;
      > span {
        color: #999;
      }
    }

  }
}

.top-table-area {
  margin-bottom: 27px;
  overflow: hidden;
  padding-bottom: 3px;
  margin-top: 30px;
  &.is-single-push-it-up {
    margin-top: -40px;
  }
}

.country-flag {
  margin-right: 5px;
}

/* Let's style the labels */
.custom-label {
  cursor: pointer;
  font-weight: 400;
  line-height: 1;
  img {
    vertical-align: text-bottom;
    position: relative;
    top: -1px;
  }
  &:before {
    font-family: "pushrr" !important;
    content: "f";
    font-size: 20px;
    vertical-align: middle;
    line-height: 1;
    font-weight: 300;
    color: $grey;
    margin-right: 3px;
    position: relative;
    top: -1px;
  }
  &.checked {
    &:before {
      content: "h";
      color: $push-blue;
    }
  }
  input {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
  small {
    font-size: $push-text;
    color: $grey;
    display: block;
    font-weight: 300;
    padding-top: 3px;
    &.inline {
      display: inline-block;
      padding-left: 5px;
    }
  }
}

/* Styling the lists on the right where the tables usualy are */
.side-notes-table {
  padding-top: 103px;
}
.side-notes {
  margin-bottom: 20px;
  li {
    padding: 6px 0;
    color: $grey
  }
}

/* New notification button */
.orange-btn {
  @extend .default-button;
  background: $push-orange;
  &:hover {
    text-decoration: none;
    color: white;
    background: #FBBF5E;
  }
  span {
    vertical-align: middle;
    margin-right: 3px;
  }
}
.bigger {
  padding: 16px 55px !important;
  font-weight: 700 !important;
}
/* Styling the ugly bootstrap form-control & form groups */
.custom-large-form-control {
  position: relative;
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 50px;

  &.no-padd {
    padding-right: 0;
  }
  .input-group-addon {
    background: #4A4A4A;
    font-size: 14px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 0px;
    z-index: 900;
    width: auto;
    padding: 2px 10px;
    height: auto;
    border-radius: 3px;
    border: 0;
    left: 17px;
  }
  .form-control {
    box-shadow: none;
    border-radius: $standard !important;
    padding-top: 13px;
    padding-bottom: 13px;
    height: auto;
    font-size: $push-subtext;
    font-family: Monaco, Courier;
  }
}

.website-icon {
  box-shadow: $push-shadow;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  background: white;
  margin-bottom: 20px;
}
.logo-upload {
  padding: 6px 13px;
}
.overhidden {
  overflow: hidden;
}

.side-input {
  background: #9B9B9B;
  color: white;
  position: absolute;
  border-radius: 0 4px 4px 0;
  right: 2px;
  left: 5px;
  text-align: right;
  padding: 10px 9px;
  height: 51px;
  font-size: 11px;
  &:hover {
    background: $push-blue;
    text-decoration: none;
    color: white;
  }
  .icon-copy {
    display: block;
    font-size: 18px;
    margin-right: 6px;
    line-height: 1;
  }
  .fa {
    display: block;
    font-size: 18px;
    margin-right: 6px;
    line-height: 1;
  }
}

.download-extension {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 15px 10px;
  font-weight: 500;
  color: #333;
  &:hover {
    text-decoration: none;
    background: $push-blue;
    color: white;
  }
  img {
    margin-right: 10px;
    vertical-align: middle;
  }
}

/* Fixing the modal appereance */
.modal-backdrop {
  z-index: 9801;
  opacity: .7 !important;
  filter: alpha(opacity=70);
}
.modal-open .modal {
  z-index: 9802; /* +2 than header z-index */

  .modal-header,
  .modal-footer,
  .modal-body {
    border: 0;
    padding: 15px 45px;
  }

  .modal-footer {
    text-align: left;
    padding-bottom: 35px;
    padding-top: 5px;
  }
  h2 {
    font-weight: 700;
    font-size: 24px;
  }
}
.modal-header .close {
  margin-top: -2px;
  position: absolute;
  right: -20px;
  top: -15px;
  color: white;
  opacity: 1;
  font-size: 15px;
}
