@import "constants";
@import "general";

body.wizard {
  background-image: image-url('wizard-bg.jpg');
  background-size: cover;
}
.wizard-content {
  margin-left: 150px;
  padding: 50px 0;
}
h2 {
  font-size: 48px;
}
.wizard-header {
  background-image: none;
  
  .steps {
    padding: 8px 35px;
    .step {
      display: inline-block;
      vertical-align: middle;
      padding-right: 30px;
      opacity: .5;
      position: relative;

      &.active-step {
        opacity: 1;
      }
      &.done-step:after {
        font-family: FontAwesome;
        content: "\f058";
        position: absolute;
        font-size: 18px;
        left: 15px;
        top: -7px;
        color: $push-orange;
      }

      .count {
        @extend .pushrr-container;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        color: $push-blue;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
        text-align: center;
        font-weight: 700;
        line-height: 22px;
      }
    }
  }
}
.selected-install {
  @extend .pushrr-container;
  padding: 30px 30px 30px 150px;
  margin-left: -150px;
}
.card.selected-card {
  border: 3px solid #C4C4C4;
}
.side-input.refresh {
  padding: 10px 11px !important;
}
.install-error {
  padding-left: 100px;
  position: relative;
}
.install-error {
  .error-icon {
    position: absolute;
    left: 0;
    top: 25px;
  }
}


/* Just a test, this is the how-to-placeholder. Right now it's empty, once we add images we can remove the css below */

.how-to-placeholder {
  width: 100%;
  height: 200px;
  background: #eee;
}