@import "constants";
@import "general";

body.wizard {
  background-image: image-url('wizard-bg.jpg');
  background-size: cover;
}
.wizard-content {
  margin-left: 60px;
  padding: 50px 0;
}
h2 {
  font-size: 48px;
}
.wizard #pushrr-wrapper {
  padding-top: 60px;
}
.wizard-header {
  background-image: none;
  
  .steps {
    padding: 8px 35px;
    .step {
      display: inline-block;
      vertical-align: middle;
      padding-right: 30px;
      opacity: .5;
      position: relative;

      &.active-step {
        opacity: 1;
      }
      &.done-step {
        color: #f5a623;
        .count {
          background-color: #f5a623;
          border-color: #f5a623;
        }
      }

      .count {
        @extend .pushrr-container;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        color: #fff;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
        text-align: center;
        font-weight: 700;
        line-height: 20px;
        background-color: transparent;
        border: 1px solid white;
      }
    }
  }
}
.selected-install {
  @extend .pushrr-container;
  padding: 30px 30px 30px 150px;
  margin-left: -150px;
}
.card.selected-card {
  border: 3px solid #C4C4C4;
}
.side-input.refresh {
  padding: 10px 11px !important;
}
.install-error {
  padding-left: 100px;
  position: relative;
}
.install-error {
  .error-icon {
    position: absolute;
    left: 0;
    top: 25px;
  }
}


/* Just a test, this is the how-to-placeholder. Right now it's empty, once we add images we can remove the css below */

.how-to-placeholder {
  width: 100%;
  height: 200px;
  background: #eee;
}

/* Last step vertical align stuff */
.push-table {
  display: table;
  margin: 50px auto;
  width: 80%;
  .push-cell {
    display: table-cell;
    vertical-align: middle;
    width: 45%;

    & + .push-cell {
      width: 55%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding-left: 40px;

      h2 {
        margin-top: 0;
      }
    }
  }
}

.button-tip {
  display: block;
  color: #929292;
  padding-top: 8px;
  font-weight: 300;
}