%h2 How would you like to install Pushrr?
%h3 Choose how you would like to install Pushrr on your website.

%div.row.margin-top-50
  %div.col-md-12
    %div.cards-set.margin-top-30
      %div.card
        %div.logo
          =image_tag("services/js@2x.png", width: '80')
        %span.website-label
          Javascript code

      %div.card
        %div.logo
          =image_tag("services/wp@2x.png", width: '80')
        %span.website-label
          Wordpress

      %div.card
        %div.logo
          =image_tag("services/drupal@2x.png", width: '80')
        %span.website-label
          Drupal

      %div.card
        %div.logo
          =image_tag("services/blogger@2x.png", width: '80')
        %span.website-label
          Blogger

      %div.card
        %div.logo
          =image_tag("services/tumblr@2x.png", height: '80')
        %span.website-label
          Tumblr