%h2 Welcome to Pushrr
%h3 Let’s get started. First things first, you need to add you site

%div.row.margin-top-20
  %div.col-md-5.margin-bottom-50
    %div.notification-form.pushrr-forms.margin-top-30
    %div.input-group.input-group-lg.custom-large-form-control
      /* Website name */
      %input.form-control{"type" => "text", "class" => "form-control", "placeholder" => "Your website name"}

      /* Website URL */
      %input.form-control.margin-top-20{"type" => "text", "class" => "form-control", "placeholder" => "Enter your website URL"}

    /* Upload image */
    %div.image-section
      %button.custom-input-group.logo-upload{"type" => "button"}
        Add a logo
    /* Continue */
    %a.orange-btn.margin-top-30.bigger{"title" => "Link to Pushrr", "href" => "/step-2"}
      Next step

  %div.col-md-5
    %h4.minus-margin-15 This is how your notification will look like

    /* Notification item */
    %div.notification-block.margin-top-30
      %div.notification-logo
      %div.notification-data
        %span.icon-close
        %div.header
          Mobelio
        %div.text
          Notification text will go here.
        %div.small-note
          mobelion.com