%div.push-table.margin-top-50
  %div.push-cell
    =image_tag("macbook-end.png", width: '745', class: "img-responsive margin-right-5 margin-left-5")

  %div.push-cell
    %h2 You’re all set!
    %h3 Congratulations, your configuration is now complete
    %br
    %a.orange-btn.margin-top-20{"title" => "New notification", "href" => "/new-notification"}
      Continue to your dashboard (5)

    %small.button-tip
      You will be redirected automaticaly in 5 seconds